.app.dark {
  --bg-color-01: #2d2c33;
  --bg-color-02: #3e3d44;

  --inverted-bg-color-01: #f4f2f2;

  --primary-color: #dad0d0;
  --secondary-color: #c0baba;
  --inverted-primary-color: #191919;
  --inverted-secondary-color: #201f1f;
}
