.app.light {
  --bg-color: rgb(244, 242, 242);
  --inverted-bg-color: rgb(72, 66, 66);

  --primary-color: rgb(25, 25, 25);
  --secondary-color: rgb(32, 31, 31);
  --inverted-primary-color: rgb(218, 208, 208);
  --inverted-secondary-color: rgb(192, 186, 186);
}
